.menu {
  width: 300px;
  min-width: 300px;
  height: 100vh;
  flex-grow: 2;
  padding: 100px 50px 0 70px;
  &-photo-list {
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
    a {
      background: unset;
      border: unset;
      font-size: 13px;
      color: rgb(6, 62, 62);
      line-height: 160%;
      letter-spacing: 0.1em;
      font-family: "Gamja Flower", cursive;
      padding-left: 0;
      &:hover {
        cursor: pointer;
        color: red;
        transition: 0.3s;
      }
    }
  }
}
.pagination {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  row-gap: 4px;
  flex-wrap: wrap;
  &__num {
    width: 18px;
    height: 18px;
    background: #fafafa;
    border: unset;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: "Gamja Flower", cursive;
    color: rgb(6, 62, 62);
    &:hover {
      cursor: pointer;
      background: #ffffff;
      transition: 0.3s;
    }
  }
}
.logo {
  font-size: 18px;
  color: rgb(6, 62, 62);
  // font-family: "Libre Barcode 39", cursive;
  font-family: "Noto Serif", serif;
  // font-family: "Bruno Ace SC", cursive;
  // font-family: "Bad Script", cursive;

  margin-bottom: 26px;
}
