@use "../styles/_var.module.scss";
.slider {
  &--wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
  }
}
@include var.mq(sp) {
  .slider {
    &--wrap {
      height: auto;
      padding: 10px;
    }
    &__img {
      max-height: unset;
    }
  }
  .sp_image {
    &--wrap {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}
