.slider {
  &--wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
    // position: absolute;
  }
  &--button-wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 100;
  }
  &__prev-button {
    width: 50%;
    height: 100vh;
    background: red;
    opacity: 0.4;
  }
  &__next-button {
    width: 50%;
    height: 100vh;
    background: blue;
    opacity: 0.4;
  }
}
