* {
  box-sizing: border-box;
  margin: 0;
}
a,
p,
li {
  font-size: 13px;
  color: rgb(6, 62, 62);
  line-height: 160%;
  letter-spacing: 0.1em;
  // font-family: "Libre Barcode 39", cursive;
  // font-family: "Noto Serif", serif;
  font-family: "Libre Barcode 39", cursive;
  font-family: "Noto Serif", serif;
  font-family: "Bruno Ace SC", cursive;
  font-family: "Bad Script", cursive;
  // font-family: "Noto Serif", serif;
  font-family: "Knewave", cursive;
  font-family: "Gamja Flower", cursive;
}

.splide__slide {
  img {
    padding: 20px;
  }
}
