.main {
  display: flex;
  flex-direction: row;
}
.menu {
  width: 200px;
  min-width: 200px;
  height: 100vh;
  flex-grow: 2;
  background: cornflowerblue;
  &-photo-list {
    list-style: none;
  }
}
.slide {
  width: 80%;
  background: cadetblue;
}
