.splide {
  height: 100vh;
}
.splide__slide {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__arrows {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  column-gap: 20px;
}
.splide__arrow--hk {
  width: 50%;
  height: 100vh;
  background: unset;
  border: unset;
  border-radius: 0;
  margin: 0;
  padding: 0;
  position: unset;
  z-index: 100;
  svg {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.splide__pagination {
  counter-reset: pagination-num;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter(pagination-num);
}
