.splide {
  height: 100vh;
}
.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__arrows {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  column-gap: 20px;
}
.splide__arrow {
  width: 50%;
  height: 100vh;
  background: unset;
  border: unset;
  border-radius: 0;
  margin: 0;
  padding: 0;
  position: unset;
  svg {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}
